#controls {
  background-color: rgba(44, 60, 84, 0.35);
  padding: 30px 20px 20px 30px;
  opacity: 0.9;
  zoom: 0.9;
  transition: opacity 500ms 1s;
  
}

#sent_controls {
  background-color: rgba(44, 60, 84, 0.35);
  padding: 30px 20px 20px 30px;
  opacity: 0.9;
  zoom: 0.9;
  transition: opacity 500ms 1s;
  
}

#sent_song_controls {
  background-color: rgba(44, 60, 84, 0.35);
  padding: 30px 20px 20px 30px;
  opacity: 0.9;
  zoom: 0.9;
  transition: opacity 500ms 1s;
  
}

#sent_tab {
  color: black;
}

#mag_tab {
  color: black;
}